body {
    font-family: Poppins;
}

h5 {
    color: var(--brand-white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
span{
    font-size: 14px;
}
p {
    margin: 0;
    font-size: 14px;

}

li {
    list-style: none;
}

.orange {
    color: #F18234;
}
.date-time{
    color: #707070;
    text-align: center;
}
.main-div {
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 32px;
    background-color: #F18234;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19C670;
    width: 106px;
    height: 106px;
    border-radius: 52px;
    position: relative;
    animation: success-animation 2s ease-in-out;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}

@keyframes success-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.d-flex {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    border: none;
    max-width: 930px !important;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
}

.card-pay p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.card-pay h6 {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}


.heading {
    padding: 12px 0 0 12px;
}

.heading p {
    color: #F18234;
    text-align: left;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    margin: 0;
}

.button-div {
    margin-top: 22px;
}

.button-div button {
    width: 400px;
    height: 56px;
    background-color: #F18234;
    border: none;
    border-radius: 12px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button-div button:hover {
    background-color: #e0772c;
    color: #fff;
}

.row {
    --bs-gutter-x:
}

@media (max-width: 992px) {
    span {
        color: #707070;
    }
    .date-time{
        color: #000;
        padding-left: 4px;
    }
    .d-flex-mob {
        display: flex;
    }

    .main-div {
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }

    .payment {
        background-color: #F18234;
        padding-top: 52px;
        padding-bottom: 160px;
    }

    .card-pay {
        margin-top: -178px;
    }

    .card-pay .card {
        background-color: #FEF3EB;
    }
    .button-div button {
        width: 100%;
    }

    .heading {
        background-color: #FEF3EB;
    }
}